<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" type="text/css" />
  <title>Kiran</title>
  <base href="" />
  <link href="/blog/images/favicon-light.ico" rel="icon" />
  <link rel="stylesheet" href="/blog/css/style.min.css" />
  <link href="/blog/images/theme.svg" as="image" type="image/svg+xml" />
  <script src="/blog/js/theme-manager.min.js"></script>
  <script src="/blog/js/preload.min.js"></script>
</head>

<body class="content">
  <header>
    <button aria-label="Toggle theme" class="theme-toggle">
      <svg class="sun-icon" aria-hidden="true">
        <use href="/blog/images/theme.svg#icon-sun" />
      </svg>
      <svg class="moon-icon" aria-hidden="true">
        <use href="/blog/images/theme.svg#icon-moon" />
      </svg>
    </button>
  </header>
  <main>
    <table class="post-list">
      <tbody>
        $for(posts)$
        <tr>
          <td>
            <time class="published" datetime="$posts.date$">$posts.date$</time>
          </td>
          <td>
            <a class="entry-title" href="/blog/$posts.url$"> $posts.title$ </a>
          </td>
        </tr>
        $endfor$
      </tbody>
    </table>
  </main>
  <footer>
    <a href="/blog/rss.xml">RSS</a>
  </footer>
  <script src="/blog/js/audio-service.min.js"></script>
  <script src="/blog/js/main.min.js"></script>
</body>

</html>