<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" type="text/css">
  <title>$title$</title>
  <link href="/images/favicon-light.ico" rel="icon" />
  <script src="/js/preload.js"></script>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="preload" href="/images/theme.svg" as="image" type="image/svg+xml" />
</head>

<body class="content">
  <header>
    <nav>
      <a href="/">Home</a>
    </nav>
    <button id="theme-toggle" aria-label="Toggle dark mode" class="theme-toggle">
      <svg class="sun-icon" aria-hidden="true">
        <use href="/images/theme.svg#icon-sun" />
      </svg>
      <svg class="moon-icon" aria-hidden="true">
        <use href="/images/theme.svg#icon-moon" />
      </svg>
    </button>
  </header>
  <main>
    <article>
        <h1>$title$</h1>
        <p>
          <em>Posted on <time datetime="$date$">$date$</time></em>
        </p>
      $body$
    </article>
  </main>
  <footer>
    <p>© $year$ - Kiran</p>
  </footer>
  <script src="/js/toggle-theme.js"></script>
</body>

</html>